@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,500;1,500&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);

}

.common-p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
   
}

/* -------------------Header Nav Styles------------------ */
nav{
    display: flex;
    justify-content: space-between;

}
.nav-title{
    padding-left:  228px;
    color: #131313;
    font-weight: 700;
    font-size: 45px;
    

}

nav ul{
    display: flex;
    padding-right:  240px;
    align-items:center;
    gap:30px;
}

nav ul li{
    list-style-type: none;
}

nav ul li a {
    color: #424242;
    text-decoration: none;
}

/*------------------------------------------------ New Group Style------------------------------------------- */
.new-group-container{

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    /* width: 862px;
    margin: 0 auto; */
}
.new-group-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.new-group-text{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-explore{
    background-color: #FF900E;
    /* width: 180px;
    height: 64px; */
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding:20px 24px;  
    margin-top: 32px;
}

/*------------------------------------------------ Banner Image Styles------------------------------------------- */
.banner-section{
    /* margin: 0 auto; */
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    /* width:1440px; */
    height: 700px;
    padding-top: 50px;
    padding-bottom: 45px;
  
}



/*------------------------------------------------ Quick List Styles------------------------------------------- */

.quick-list-container{
    display:flex;
    justify-content: center;
    margin-top: 85px;
    
    /* width: 537px;
    height: 304px; */
    
}

.quick-list-img-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:20px;
  
    
}

.team-img{
    width: 342px;
    height: 342px; 
}

.quick-list-text-section{
    padding-left: 60px;
    width: 537px;
    /* height: 304px; */
}

.quick-list-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-top: 150px;
}

.title-style-black{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}

.title-style-orange{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
    /* text-shadow: -1px 4px 5px rgba(49,44,44,0.6); */

}

.quick-list-p, .feature-container p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
}

.quick-list-text-section 
{
    margin-top: 32px;
}

/* ----------------------------------------Feature Section Styles--------------------------------------- */

.feature-container{
    display:flex;
    justify-content: center;
    gap:10px;
    margin-top: 80px;
}

.feature-text-section{
    width: 586px;
    height: px;
    margin-right: 100px;
}

#feature-title-div{
    border-left:8px solid#FF900E;
}

.feature-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    padding-left: 25px;
    
}

.feature-heading{
    /* padding:20px; */

}
.feature-box{
    padding:20px;
    margin-top: 20px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(235,232,235,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(235,232,235,1);
    box-shadow: 2px 2px 5px 0px rgba(235,232,235,1);
}


.feature-heading-name{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}

.feature-img-section{ 
    display:flex;
    flex-direction: column;
}
.btn-tenyears{
    font-weight: 500;
    font-size: 25px;
    background-color: #FF900E;
    border: none;
    border-radius: 3px;
    padding: 45px 42px;
    position: relative;
    top:-100px;
    left:-70px;
}

#btn-white-text{
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

#btn-black-text{
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}


/*------------------------------------- Some Facts Section Styles--------------------------------------- */
.someFacts-container{
    /* display: grid;
    grid-template-columns: 1fr;
    justify-items: center; */
    

}

.some-facts-title-section{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-left: -850px;
}

.someFacts-p{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left:30px;
    width:542px;
}


.someFacts-acheivement-container{
    display: flex;
    justify-content: center;
    gap:80px;
    margin-top: 100px;
}



.achv-box-1, .achv-box-2, .achv-box-3, .achv-box-4 {
    /* width: 241px;
    height: 241px; */
    border: 1px solid #FF900E;
    border-radius: 5px;
    text-align: center;
    padding: 40px 52px 65px ;
}

.achv-box-1:hover, .achv-box-2:hover, .achv-box-3:hover, .achv-box-4:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.acheivement-number{
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin-top:8px;
    margin-bottom: 10px;
}
.acheivement-name-p{
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: 0;
    
}

/* ========================================Sponsor Section Style=========================================== */

.sponsored-container{
    text-align: center;
    margin-top: 180px;
    margin-bottom: 130px;
    
}

.sponsors-logo{
    margin-top: 65px;
    display: flex;
    justify-content: center;
    gap: 154px;
}

.sponsors-logo img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

/* ========================================Footer Section Style=========================================== */

footer{
    margin: 0 auto; 
    /* display: grid;
    grid-template-columns: 1fr;
    justify-items: center; */
    background: #FFF4E7;
    border-radius: 8px;
    /* width: 1440px; */
    text-align: center;
    padding: 30px;

}

  .footer-p{
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    
  }


/* ----------------------------------------Media Query Styles----------------------------------------- */
  /* Mobile Devices */
@media only screen and (max-width:688px) {
    header{
        width:100%;
    }
    nav{
        display: flex;
        flex-direction: column;
    }

    .nav-title{
        padding-left:20px;
    }
    .new-group-title{
        font-size: 54px;
    }
    .banner-section{
        margin-bottom:150px;
        padding: ;
       
        height: 0px;
    }
    .banner-section img{
        width: 100%;
    }
    .quick-list-container{
        flex-direction: column-reverse; 
    }
    .quick-list-img-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-top: 30px;
        /* margin-top: 132px; */
    }
    .quick-list-text-section {
        padding-left: 0px;
        width: 100%;
        
    }

    .quick-list-title{
        padding-top:0;
        margin-top: 110px;
    }
    .btn-explore{
        margin-top: 0;
    }

    .feature-container {
        flex-direction: column;
        margin-top: 30px;
        width: 100%;
    }
    .feature-title {
        font-size: 40px;
        padding-left: 21px;    }
    
    .feature-container p {
    
        width: 60%;
    }
    .feature-img-section img{
        width: 76%;
    }
    .btn-tenyears {
        
        padding: 15px 16px;
        position: relative;
        top: -39px;
        left: 15px; 
    }

    .some-facts-title-section {
        margin-left: 0px; 
    }
    .feature-title {
        padding-left: 0px;
    }
    .someFacts-p {
        
        margin-left: 40px;
        width: 284px;
    } 

    .someFacts-acheivement-container{
        flex-direction: column;
        gap: 45px;
        margin-top: 36px;
    }

    .achv-box-1, .achv-box-2, .achv-box-3, .achv-box-4 {
        
        margin: 20px;
    }

    .sponsored-container {
        
        margin-top: 105px;
      
    }
    .sponsors-logo{
        flex-direction: column;
        gap: 60px;

    }

    .sponsors-logo img{
        width:70%;
        margin: 0 auto;
    }
    
}

@media only screen and (min-width: 688px) and (max-width: 992px){

}